  body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-image: url(./img/CRYPTO.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
nav {
  font-family: 'Baloo Bhaijaan 2', cursive;
}
    .contenedor {
     background-color: black;
      background-size:cover ;
      background-repeat: no-repeat;
      border: 1px solid rgb(93, 50, 212);
      border-radius: 3%;
      margin: 0 10%;
      padding: 0%;
      padding-bottom: 10%;
    }
.parrafo{
  background-color: black;
  background-repeat: no-repeat;
  border: 1px solid rgb(93, 50, 212);
  border-radius: 3%;
  margin: 0 10%;
  padding: 0%;
  padding-bottom: 10%;
  width: 500px;
  height: 450px;
  padding-left: 10px;
  padding-right: 10px;
  
}


.cotizacion{
  background-color: black;
  background-repeat: no-repeat;
  border: 1px solid rgb(93, 50, 212);
  border-radius: 3%;
  margin: 0 10%;
  padding: 0%;
  padding-bottom: 10%;
  height: 430px;
 
}
    .colum{
      border:1px solid red;
      background-color: whitesmoke;
      height: 500px;
    }
    input{
      width: 70%;
    }
    h2{
      color: whitesmoke;
      font-family: 'Baloo Bhaijaan 2', cursive;
      
    }
 
    .slogan{
      font-size: 200%;
      padding-top: 20%;
      text-align: center;
      font-style: rgb(93, 50, 212);
      font-family: 'Baloo Bhaijaan 2', cursive;
    }
    
    p {
      text-align: justify;
    }

    .contacto{
      background-color: black;
      background-repeat: no-repeat;
      border: 1px solid rgb(93, 50, 212);
      border-radius: 3%;
      margin: 0 10%;
      padding: 0%;
      padding-bottom: 10%;
      height: 600px; 
      width: 950px;
      
    }

 #btnUno {
margin-left: 150px
 }