   body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-image: url(./img/CRYPTO.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
      nav {
        font-family: 'Baloo Bhaijaan 2', cursive;
        height: 50px;
      }

        .navbar-nav li a {
          font-size: 18px;
          color: white;
        }
        .navbar-nav li a:hover {
          color: #03ca95;
          transform: scale(1.2);
        }


        .navbar-brand img {
          border-radius: 5px;
          margin-top: 4px;
        }
        
        .navbar-brand img:hover {
          transform: scale(1.1);
        }
    

    .contenedor {
     background-color: black;
      background-size:cover ;
      background-repeat: no-repeat;
      border: 1px solid rgb(93, 50, 212);
      border-radius: 3%;
      margin: 0 10%;
      padding: 0%;
      padding-bottom: 5%;
    }
.parrafo{
  background-color: black;
  background-repeat: no-repeat;
  border: 1px solid rgb(93, 50, 212);
  border-radius: 3%;
  margin: 0 10%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;

}

.parrafo img {
  width: 80%;
  height: auto;
}


.cotizacion {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgb(93, 50, 212);
  border-radius: 3%;
  margin: 0 10%;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-top: 1px;
 

}
.cotizacion img {
  width: 68%;
  height: auto;
}
  
    .colum{
      border:1px solid red;
      background-color: whitesmoke;
      height: 500px;
    }
    input{
      width: 70%;
    }
    h2{
      color: whitesmoke;
      font-family: 'Baloo Bhaijaan 2', cursive;
      
    }
 
    .slogan{
      font-size: 200%;
      padding-top: 20%;
      text-align: center;
      font-style: rgb(93, 50, 212);
      font-family: 'Baloo Bhaijaan 2', cursive;
    }
    
    p {
      text-align: justify;
    }

    .contacto{
      background-color: black;
      background-repeat: no-repeat;
      border: 1px solid rgb(93, 50, 212);
      border-radius: 3%;
      margin: 0 10%;
      padding: 3%;
      padding-bottom: 3%;
      padding-top: 10px;
    
      
    }

 #btnUno {
margin-left: 150px
 }

